h1{
    color:blue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid ;
    background-image: linear-gradient(to left, blue, violet);
}
body{
    background-color: blueviolet
}
video{
    border: 10px solid blue;
}